/* General stuff */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --left-col-width: 40%;
}

html {
    height: 100%;
}

body {
    background-image: url("../images/background.png");
    background-repeat: repeat;
    color: #cccccc;
}

.fade {
    max-width: 1400px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(20, 20, 20, 0.9) 6%,
        rgba(20, 20, 20, 0.9) 94%,
        rgba(0, 0, 0, 0) 100%
    );
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 8px;
}

/* Two-column layout for home page */
.columns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    width: var(--left-col-width);
}

.right-column {
    width: calc(100% - var(--left-col-width));
}

.column-header {
    text-align: center;
}

.tile {
    margin: 8px auto;
    width: 90%;
    padding: 16px;
    border-radius: 4px;
    border: 0.5px solid #555555;
    background: #222222;
}

a {
    color: #de8e3d;
}

/* Navigation bar */

nav {
    padding: 5px 20px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
}

.menu .brand {
    font-weight: bold;
    font-size: 24px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: underline;
}


/* Mobile ============================================================== */

#hamburger {
    order: 1
}

.section {
    display: none;
    width: 100%;
    text-align: center;
    order: 2;
}

.section.visible {
    display: block;
}


/* Larger screens ============================================================== */
@media all and (min-width: 600px) {
    .brand {
        flex: 1
    }

    .section {
        display: block;
        width: auto;
        margin: 0 8px;
    }

    #hamburger {
        display: none
    }
}
