---
layout: home
---

{% capture left_content %}
<h2 class="column-header">Recent Projects</h2>
{% assign projects = site.projects | sort: "sort_date" %}
{% for project in projects limit:10 %}
<div class="tile">
    <a href="{{project.url}}">{{project.title}}</a><br/>
</div>
{% endfor %}
{% endcapture %}

{% capture right_content %}
<h2 class="column-header">Posts</h2>
{% for post in site.posts limit:10 %}
<div class="tile">
    <h4>
        {{post.date | date: "%Y-%m-%d"}}
        - 
        <a href="{{post.url}}">{{post.title}}</a> 
    </h4>
    <p>{{post.brief}}</p>
</div>
{% endfor %}
{% endcapture %}

{% include two-column.html %}
