<footer class="footer">
    <div class="container">
        <h5>{{site.title}}</h5>
        <div class="row">
            <div class="col-sm-4">
                <p>
                    Peter Gagliardi
                    <br/>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    <br/>
                    {% include icon-github.html username=site.github_username %}
                </p>
            </div>
            <div class="col-sm-8">
                {{site.description}}
            </div>
        </div>
    </div>
</footer>
