<nav>
    <ul class="menu">
        <li class="brand">
            <a href="/">Peter Gagliardi</a>
        </li>
        <!--
        I'm not yet ready for this
        <li class="section">
            <a href="/gallery">Gallery</a>
        </li>
        -->
        <li class="section">
            <a href="/blog">Blog</a>
        </li>
        <li class="section">
            <a href="/about">About</a>
        </li>
        <li class="section">
            <a href="https://github.com/ptrgags">GitHub</a>
        </li>
        <li id="hamburger"><i id="hamburger-icon" class="fas fa-bars"></i></li>
    </ul>
</nav>
