---
layout: post
title: Logo
brief: (Interactive) I'm in the process of designing a logo for this site
categories: posts
---
<p>
    I'm working on designing a logo for this website. Here's a quick interactive
    logo designer that I'm using to tweak the dimensions of the logo:
</p>

{% raw %}
<div ng-app="logo" ng-controller="logo-ctrl">
    <svg id="gear-logo" version="1.1" width="400" height="400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <mask id="donut">
                <!-- Outer Circle: Boundary of gear -->
                <circle cx="200" cy="200" r="200" fill="white" />
                <!-- Inner Circle -->
                <circle cx="200" cy="200" r="{{inner_circle_radius()}}" fill="black" />
                <!-- Gear cutaway -->
                <path d="{{wedge_path()}}" fill="black" />
            </mask>
            <mask id="g-inside">
              <!-- Outer Circle -->
              <circle cx="200" cy="200" r="200" fill="white" />
              <!-- Inner Circle -->
              <circle cx="200" cy="200" r="{{inner_g_radius()}}" fill="black" />

              <!-- Cut away part of the circle -->
              <path d="{{wedge_path_g()}}" fill="black" />

              <!-- Crossbar of the G -->
              <rect x="{{200 + inner_g_radius() - g_crossbar_width}}" y="200" width="{{g_crossbar_width}}" height="{{g_thickness}}" fill="white" />-->
            </mask>
        </defs>

        <g mask="url(#donut)" fill="{{gear_color}}">
            <!-- Root Circle -->
            <circle cx="200" cy="200" r="{{ring_radius}}" stroke="none" />
            <g ng-repeat="t in cog_angles() track by $index">
                <!-- Cogs -->
                <rect x="-200" y="{{-cog_thickness / 2}}" width="400" height="{{cog_thickness}}" transform="translate(200, 200) rotate({{t}})"/>
            </g>
        </g>

        <!-- outside of G in the logo -->
        <circle fill="{{g_color}}" cx="200" cy="200" r="{{g_radius()}}" fill="black" stroke="none" mask="url(#g-inside)"/>


    </svg>
    <p>
        Ring Outer Radius: {{ring_radius}} px
        <input type="range" ng-model="ring_radius" min="100" max="190" />
        Ring Thickness: {{ring_thickness}} px
        <input type="range" ng-model="ring_thickness" min="10" max="80" />
        Gap Thickness: {{gap_thickness}} px
        <input type="range" ng-model="gap_thickness" min="10" max="80" />
        Angle Between Cogs: {{cog_pitch}} &deg;
        <input type="range" ng-model="cog_pitch" min="10" step="0.5" max="90" />
        First Cog Offset from horizontal: {{cog_offset}} &deg;
        <input type="range" ng-model="cog_offset" min="0" step="0.5" max="45" />
        Cog Thickness: {{cog_thickness}} px
        <input type="range" ng-model="cog_thickness" min="10" max="80" />
        Cog Cutaway Start: {{cutaway_start}} &deg;
        <input type="range" ng-model="cutaway_start" min="0" max="180" />
        Cog Cutaway End: {{cutaway_end}} &deg;
        <input type="range" ng-model="cutaway_end" min="0" max="180" />
        G Thickness: {{g_thickness}} px;
        <input type="range" ng-model="g_thickness" min="10" max="60" />
        G Cutaway angle: {{g_cutaway_angle}} &deg;
        <input type="range" ng-model="g_cutaway_angle" min="30" max="90" />
        G Crossbar Width: {{g_crossbar_width}} px;
        <input type="range" ng-model="g_crossbar_width" min="20" max="150" />
        Gear Color: {{gear_color}}
        <input type="color" ng-model="gear_color" /><br/>
        G Color: {{g_color}}
        <input type="color" ng-model="g_color" /><br/>
    </p>
</div>

<script>
Math.radians = function(deg) {
    return deg * Math.PI / 180.0;
};

var app = angular.module("logo", []);
app.controller('logo-ctrl', function ($scope) {
   $scope.ring_radius = 160;
   $scope.ring_thickness = 20;
   $scope.gap_thickness = 10;
   $scope.cog_pitch = 22.5;
   $scope.cog_thickness = 40;
   $scope.cutaway_start = 0;
   $scope.cutaway_end = 0;
   $scope.cog_offset = 0;
   $scope.g_thickness = 30;
   $scope.g_cutaway_angle = 45;
   $scope.g_crossbar_width = 40;
   $scope.g_color = "#000000";
   $scope.gear_color = "#000000";
   $scope.inner_circle_radius = function() {
       return $scope.ring_radius - $scope.ring_thickness;
   }
   $scope.g_radius = function() {
       return $scope.ring_radius - $scope.ring_thickness - $scope.gap_thickness;
   }
   $scope.inner_g_radius = function() {
       return $scope.g_radius() - $scope.g_thickness;
   }
   $scope.cog_angles = function() {
       var angles = [];
       var pitch = parseFloat($scope.cog_pitch);
       var offset = parseFloat($scope.cog_offset)
       for (var i = 0; i < 180; i += pitch) {
           angles.push(i + offset);
       }
       return angles;
   }
   $scope.wedge_path = function() {
       //Center
       var cx = 200;
       var cy = 200;

       //Maximum radius of circle
       var radius = 200;

       //start of SVG path
       var d = "M " + cx + " " + cy;

       var theta1 = Math.radians(parseFloat($scope.cutaway_start));
       //Note: cutaway_end is backwards in the input scale, just for ease of use
       var theta2 = Math.radians(parseFloat(-$scope.cutaway_end));

       var x1 = cx + radius * Math.cos(theta1);
       var y1 = cx + radius * -Math.sin(theta1);

       var x2 = cx + radius * Math.cos(theta2);
       var y2 = cx + radius * -Math.sin(theta2);

       var large_angle = theta1 - theta2 >= Math.PI ? 1 : 0;

       d += "L " + x1 + " " + y1;
       d += "A " + radius + " " + radius + " 0 " + large_angle +  " 1 " + x2 + " " + y2

       return d;
   }
   $scope.wedge_path_g = function() {
       //Center
       var cx = 200;
       var cy = 200;

       //Maximum radius of circle
       var radius = 200;

       //start of SVG path
       var d = "M " + cx + " " + cy;

       var theta1 = Math.radians(parseFloat($scope.g_cutaway_angle));
       //Note: cutaway_end is backwards in the input scale, just for ease of use
       var theta2 = 0

       var x1 = cx + radius * Math.cos(theta1);
       var y1 = cx + radius * -Math.sin(theta1);

       var x2 = cx + radius * Math.cos(theta2);
       var y2 = cx + radius * -Math.sin(theta2);

       var large_angle = theta1 - theta2 >= Math.PI ? 1 : 0;

       d += "L " + x1 + " " + y1;
       d += "A " + radius + " " + radius + " 0 " + large_angle +  " 1 " + x2 + " " + y2

       return d;
   }
});
</script>

{% endraw %}
