---
layout: default
---
<article>
    <header>
        <div class="row">
            <div class="col-sm-3">
                {% if page.thumbnail %}
                <img class="thumbnail responsive square" src="{{site.url}}/images/{{page.thumbnail}}" />
                {% endif %}
            </div>
            <div class="col-sm-9">
                <h2>{{page.title}} ({{page.years}})</h2>
                <p>{{page.description}}<p>
                {% if page.contributors %}
                <h5>Contributors:</h5>
                <p>
                    {% for user in page.contributors %}
                        <a href="http://github.com/{{user}}">{{user}}</a>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </p>
                {% endif %}
                <div class="btn-group">
                    {% if page.repo %}
                    <a role="button" class="btn btn-primary" href="http://github.com/ptrgags/{{page.repo}}">View on GitHub</a>
                    {% endif %}
                    {% if page.link %}
                    <a role="button" class="btn btn-primary" href="{{page.link}}">View Demo</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% if page.wip %}
    <div class="panel panel-warning">
        <div class="panel panel-body">
            <h2>Work in Progress</h2>
            <p>This page is a work in progress. Come back soon for new and/or improved content!</p>
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel panel-body">
            {% if page.purpose %}
            <h3>Purpose</h3>
            <p>{{page.purpose}}</p>
            {% endif %}

            <hr />

            <div class="row">
                <div class="col-sm-6">
                    <h3>Languages / Libraries:</h3>
                    <ul>
                        {% for language in page.languages %}
                        <li>{{language}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h3>Concepts:</h3>
                    <ul>
                        {% for concept in page.concepts %}
                        <li>{{concept}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <hr />
            {{content}}

            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <h3>Accomplishments:</h3>
                    <ul>
                        {% for accomplishment in page.accomplishments %}
                        <li>{{accomplishment}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h3>Needed Improvements:</h3>
                    <ul>
                        {% for improvement in page.improvements %}
                        <li>{{improvement}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr />
        </div>
    </div>
</article>
